* {
    bg:  #1a1b26;
    bg-light: #272834;
    selected: #282e49;
    blue: #7bc5e4;
    fg: #abb2bf;
    fg2: #e06c75;
    grey: #565c64;
    red: #ce7284;
    green: #7dc5a0;
    empty: #5b668e;
    inactive: #4a5374;
    placeholder: #474f6f;
}
