window {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #1a1b26;
  color: #a9b1d6;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
}

#input {
  color: white;
  margin-bottom: 8px;
  border-radius: 0px;
  background-color: transparent;
}

#inner-box {
  margin: 0px;
  margin-right: 10px;
  margin-left: 10px;
  border-top: 2px solid transparent;
  color: #;
  background-color: transparent;
}

#img {
  margin-right: 6px;
}

#outer-box {
  margin: 0px;
  border: 0px solid;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: 0px solid;
  background-color: transparent;
}

#entry {
  display: grid;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0px;
}

image { display: block; }
label { display: flex; }

#entry:selected {
}

#text:selected {
  outline: 0px;
  border-radius: 0px;
}
